### Java template
*.class
 
# Package Files #
*.jar
*.war
*.ear
 
### macOS template
*.DS_Store
.AppleDouble
.LSOverride
 
# IntelliJ project files
.idea
.idea/*.xml
*.iml
out
gen
build
rebel.xml
 
# Compliled files
/target/
**/target
 
/example/
 
# Gradle
.gradle
/build/
.gradletasknamecache
.gradle/vcs-1/gc.properties
.gradle/file-system.probe
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.6.1/gc.properties
.gradle/7.6.1/fileHashes/resourceHashesCache.bin
.gradle/7.6.1/fileHashes/fileHashes.lock
.gradle/7.6.1/fileHashes/fileHashes.bin
.gradle/7.6.1/fileChanges/last-build.bin
.gradle/7.6.1/executionHistory/executionHistory.lock
.gradle/7.6.1/executionHistory/executionHistory.bin
.gradle/7.6.1/dependencies-accessors/gc.properties
.gradle/7.6.1/dependencies-accessors/dependencies-accessors.lock
.gradle/7.6.1/checksums/sha1-checksums.bin
.gradle/7.6.1/checksums/md5-checksums.bin
.gradle/7.6.1/checksums/checksums.lock
